<div class="container">
    <div class="card mb-3 mt-4 shadow fs-4">
        <div class="card-header bg-white border-0 p-4 d-flex justify-content-between">
            <div>
                <h2 class="card-title fs-3">CHI TIẾT DỰ ÁN</h2>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://source.unsplash.com/random" class="img-fluid rounded-end" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title fs-3">{{da.tenDuAn}}</h3>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><strong>Chi phí:</strong> {{da.tien | currency:'VND'}}</p>
                    <p class="card-text"><strong>Leader:</strong> {{da.leader}}</p>
                    <p class="card-text"><strong>Thành viên:</strong> {{da.thanhvien}}</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated {{da.ngayStart | date:'dd/MM/yyyy'}}.</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>