<div class="container">
    <div class="card mb-3 mt-4 shadow fs-4">
        <div class="card-header bg-white border-0 p-4 d-flex justify-content-between">
            <div>
                <h2 class="card-title fs-3">CHI TIẾT DỰ ÁN</h2>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://source.unsplash.com/random" class="img-fluid rounded-end" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title fs-3">{{duAn.tenDuAn}}</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nulla laborum
                        accusantium tenetur! Soluta voluptatum, libero officia deleniti, accusamus magni corporis
                        facilis cupiditate ut sit quaerat praesentium vitae commodi repudiandae.</p>
                    <p class="card-text"><strong>Chi phí:</strong> {{duAn.tien | currency:'VND'}}</p>
                    <div class="card-text d-flex">
                        <strong>Leader:</strong>
                        <div *ngFor="let nv of listNv">
                            <p *ngIf="duAn.leader == nv.id">
                                {{nv.fullname}}
                            </p>
                        </div>
                    </div>
                    <p class="card-text"><strong>Thành viên:</strong> {{duAn.thanhvien}}</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated {{duAn.ngayStart | date:'dd/MM/yyyy'}}.</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>