<div id="auth">

    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <!-- <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo"></a> -->
                </div>
                <h1 class="auth-title">Quên mật khẩu</h1>
                <p class="auth-subtitle mb-5">Nhập email của bạn và chúng tôi sẽ gửi cho bạn liên kết đặt lại mật khẩu.
                </p>
                <form #frm1="ngForm" (ngSubmit)="xulyDN(frm1.value)">
                    <div class="form-group position-relative has-icon-left">
                        <input type="email" class="form-control form-control-xl" placeholder="Email" name="emailCheck"
                            ngModel required #errEmail="ngModel">
                        <div class="form-control-icon">
                            <i class="bi bi-envelope"></i>
                        </div>
                    </div>
                    <div *ngIf="errEmail.invalid && (errEmail.dirty || errEmail.touched)"
                        class="alert mb-0 text-danger">
                        <div *ngIf="errEmail.errors?.['required']">
                            Chưa nhập Email.
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Gửi</button>
                </form>
                <div class="text-center mt-5 text-lg fs-4">
                    <p class='text-gray-600'>
                        Nhớ tài khoản của bạn?
                        <a href="#" class="font-bold" routerLink="/dangnhap">Đăng nhập</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">
            </div>
        </div>
    </div>

</div>