<div class="container">
    <div class="card mt-4 border-0 shadow fs-5">
        <div class="card-header bg-white border-0 p-0 m-4 mb-0 d-flex justify-content-between align-items-center">
            <div>
                <h4 class="card-title fs-3">DANH SÁCH DỰ ÁN</h4>
            </div>
            <div>
                <h5>
                    Số lượng dự án: <b class="fs-5">{{listDuan.length}}</b>
                </h5>
            </div>
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Từ khóa" aria-label="Search" name="da">
                <button class="btn btn-primary rounded-pill" type="submit">Tìm</button>
            </form>
        </div>
        <div class="card-content">
            <div class="card-body">
                <!-- Table with outer spacing -->
                <div class="table-responsive">
                    <table class="table mb-0 rounded table-hover bg-light-primary table-borderless text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên dự án</th>
                                <th scope="col">Ngày bắt đầu</th>
                                <th scope="col">Chi phí</th>
                                <th scope="col">Leader</th>
                                <th scope="col">Thành viên</th>
                                <th scope="col"  *ngIf="daDangNhap()">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let da of listDuan">
                                <th scope="row">{{da.id}}</th>
                                <td [routerLink]="['/duan/chitietDA',da.id]">{{da.tenDuAn}}</td>
                                <td>{{da.ngayStart | date:"dd/MM/yyyy"}}</td>
                                <td>{{da.tien | currency:'VND'}}</td>
                                <td>
                                    <div *ngFor="let nv of listNv">
                                        <p *ngIf="da.leader == nv.id">
                                            {{nv.fullname}}
                                        </p>
                                    </div>
                                </td>
                                <td>{{da.thanhvien}}
                                    <!-- <div *ngFor="let nv of listNv">
                                        <p *ngIf="da.thanhvien == nv.id">
                                            {{nv.fullname}}
                                        </p>
                                    </div> -->
                                </td>
                                <td  *ngIf="daDangNhap()">
                                    <i class='bx bx-info-circle'></i>
                                    <i class='bx bx-edit' (click)="editDuAn(da)"></i>
                                    <i class='bx bx-trash' (click)="deleteDuAn(da.id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>