<div class="container">
    <div class="page-heading mt-4">
        <h3>Thống kê hồ sơ</h3>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-3 py-4-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="stats-icon purple">
                                            <i class='bx bxs-notepad'></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h6 class="text-muted font-semibold">Dự án</h6>
                                        <h6 class="font-extrabold mb-0">{{totalDuan}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-3 py-4-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="stats-icon red">
                                            <i class="fa-solid fa-list-check"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h6 class="text-muted font-semibold">Nhiệm vụ</h6>
                                        <h6 class="font-extrabold mb-0">{{ totalTask }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-3 py-4-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="stats-icon blue">
                                            <i class="iconly-boldProfile"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h6 class="text-muted font-semibold">Nhân viên</h6>
                                        <h6 class="font-extrabold mb-0">{{ listNv.length }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-3 py-4-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="stats-icon green">
                                            <i class="fa-solid fa-dong-sign"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h6 class="text-muted font-semibold">Tổng tiền</h6>
                                        <h6 class="font-extrabold mb-0">{{ totalPrice }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-12 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>Nhân viên theo khu vực</h4>
                            </div>
                            <div class="card-body">
                                <div class="row pb-2">
                                    <ul class="list-group">
                                        <li
                                            class="list-group-item active bg-primary d-flex justify-content-between align-items-center">
                                            <div>Miền Nam</div>
                                            <div>{{totalSouth.length}}</div>
                                        </li>
                                        <li class="list-group-item" *ngFor="let n of totalSouth">{{n.fullname}}</li>
                                    </ul>
                                </div>
                                <div class="row pb-2">
                                    <ul class="list-group">
                                        <li
                                            class="list-group-item active bg-success d-flex justify-content-between align-items-center">
                                            <div>Miền Trung</div>
                                            <div>{{totalMiddle.length}}</div>
                                        </li>
                                        <li class="list-group-item" *ngFor="let t of totalMiddle">{{t.fullname}}</li>
                                    </ul>
                                </div>
                                <div class="row pb-2">
                                    <ul class="list-group">
                                        <li
                                            class="list-group-item active bg-info d-flex justify-content-between align-items-center">
                                            <div>Miền Bắc</div>
                                            <div>{{totalNorth.length}}</div>
                                        </li>
                                        <li class="list-group-item" *ngFor="let b of totalNorth">{{b.fullname}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h4>Nhận xét mới nhất</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-lg">
                                        <thead>
                                            <tr>
                                                <th>Tên</th>
                                                <th>Bình luận</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="col-3">
                                                    <div class="d-flex align-items-center">
                                                        <div class="avatar avatar-md">
                                                            <img src="assets/images/faces/5.jpg">
                                                        </div>
                                                        <p class="font-bold ms-3 mb-0">Bách Nguyễn</p>
                                                    </div>
                                                </td>
                                                <td class="col-auto">
                                                    <p class=" mb-0">Chúc mừng bạn tốt nghiệp!</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-3">
                                                    <div class="d-flex align-items-center">
                                                        <div class="avatar avatar-md">
                                                            <img src="assets/images/faces/1.jpg">
                                                        </div>
                                                        <p class="font-bold ms-3 mb-0">Nguyễn Thị Hồng</p>
                                                    </div>
                                                </td>
                                                <td class="col-auto">
                                                    <p class=" mb-0">Chúc mừng bạn tốt nghiệp!</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-3">
                                                    <div class="d-flex align-items-center">
                                                        <div class="avatar avatar-md ">
                                                            <img src="assets/images/faces/2.jpg">
                                                        </div>
                                                        <p class="font-bold ms-3 mb-0">Si Ganteng</p>
                                                    </div>
                                                </td>
                                                <td class="col-auto">
                                                    <p class=" mb-0">Wow thiết kế tuyệt vời! Bạn có thể làm một cái khác
                                                        không hướng dẫn cho thiết kế này?</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="col-3">
                                                    <div class="d-flex align-items-center">
                                                        <div class="avatar avatar-md">
                                                            <img src="assets/images/faces/3.jpg">
                                                        </div>
                                                        <p class="font-bold ms-3 mb-0">Nguyễn Thị Hồng</p>
                                                    </div>
                                                </td>
                                                <td class="col-auto">
                                                    <p class=" mb-0">Chúc mừng bạn tốt nghiệp!</p>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <div class="card-body py-4 px-5">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-xl">
                                <img src="assets/images/faces/2.jpg" alt="Face 1">
                                <span class="avatar-status bg-success"></span>
                            </div>
                            <div class="ms-3 name ">
                                <h5 class="font-bold">Bách Nguyễn</h5>
                                <h6 class="text-muted mb-0">@bachthedev</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h4>Tin nhắn gần đây</h4>
                    </div>
                    <div class="card-content pb-4">
                        <div class="recent-message d-flex px-4 py-3" *ngFor="let nv of listNhanVien">
                            <div class="avatar avatar-lg">
                                <img src="assets/images/faces/{{nv.phai==true?2:5}}.jpg">
                                <span class="avatar-status bg-success"></span>
                            </div>
                            <div class="name ms-4">
                                <h5 class="mb-1">{{nv.fullname}}</h5>
                                <h6 class="text-muted mb-0">@{{nv.khuvuc}}</h6>
                            </div>
                        </div>
                        <div class="px-4">
                            <button class='btn btn-block btn-xl btn-light-primary font-bold mt-3'>Trò chuyện</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>